{{define "title"}}{{.Data.Category.Name}} - Silic0n Wiki{{end}}

{{define "content"}}
<div class="list-page">
    <h1>{{.Data.Category.Name}}</h1>
    {{if .Data.Category.Description}}
    <p class="list-description">{{.Data.Category.Description}}</p>
    {{end}}

    {{if .Data.Tags}}
    <div class="category-tags">
        <h3 class="tags-heading">Tags</h3>
        <div class="tags-list">
            {{range .Data.Tags}}
            <a href="/categories/{{$.Data.Category.Slug}}/tags/{{.Slug}}" class="tag">
                {{.Name}}
                <span class="tag-count">{{.ArticleCount}}</span>
            </a>
            {{end}}
        </div>
    </div>
    {{end}}

    <h3 class="section-heading">Articles</h3>
    {{if .Data.Articles}}
    <ul class="article-list">
        {{range .Data.Articles}}
        <li class="article-list-item">
            <a href="/wiki/{{.Slug}}" class="article-link">
                <span class="article-title">{{.Title}}</span>
                <span class="article-date">{{.CreatedAt.Format "Jan 2, 2006"}}</span>
            </a>
        </li>
        {{end}}
    </ul>
    {{else}}
    <p class="no-items">No articles in this category yet.</p>
    {{end}}

    <a href="/categories" class="back-link">Back to categories</a>
</div>
{{end}}
